<div id="login-modal" class="modal">
    <div class="modal-content">
        <h2>Log In</h2>
        <form action="/sessions" method="POST">
            <div class="modal-content">
                <input id="username" type="text" class="validate" name="username" placeholder="User Name" required>
                <input id="password" type="password" class="validate" name="password" placeholder="Password" required>
            </div>
            <input class="waves-effect waves-light red darken-3 btn" type="submit" value="submit">
        </form>
    </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-red darken-3 btn-flat">Close</a>
        </div>
</div>
<div id="signup-modal" class="modal">
    <div class="modal-content">
        <h2>Create an account</h2>
        <form action="/users" method="POST">
            <div class="modal-content">
                <input id="firstname" type="text" class="validate" name="name" placeholder="Your First Name" required>
                <input id="username" type="text" class="validate" name="username" placeholder="User Name" required>
                <input id="password" type="password" class="validate" name="password" placeholder="Password" required>
            </div>
            <input class="waves-effect waves-light red darken-3 btn" type="submit" value="submit">
        </form>
    </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-red darken-3 btn-flat"></a>
        </div>
</div>

<div id="delete-modal" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Are you Sure?</h4>
      <h6>This action cannot be undone</h6>
    </div>
