<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <header>
            <% include ./partials/header.ejs %>
        </header>
        <div id="home-background" class="background-img">
        </div>
        <div class="container">
            <% if (user){ %>
            <div class="row">
                <h2>Welcome, <%= user.name %></h2>
                <div class="col s12 ">
                    <a href="/wines" class="waves-effect waves-light red darken-3 btn hoverable">Open My Wine Journal</a>
                </div>

            </div>
            <% } %>
        </div>
    <% include ./partials/session_modals%>
    <% include ./partials/scripts.ejs %>
    </body>
</html>
