<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>INDEX HOMEPAGE</title>
    </head>
    <body>
        <h1>Homepage for entire site</h1>
    </body>
</html>
