.nav-wrapper {
    padding: 0 2em;
}
.background-img {
    position: absolute;
    z-index: -1;
    /* display: flex;
    align-items: center; */
    width: 100%;
}
.background-img > img {
    width:100%;
 }
.card-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-background {
    background-color: rgba(255, 248, 225, 0.5);
    padding: 1em;
}
.form-title {
    width: 100%;
    text-align: center;
}
legend {
    font-size: 1.75em;
}

/* label color */
.input-field label {
 color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}
.form-submit {
    margin: 1em 0 0 8em;
}
#show-card-title {
    width: 100%;
    text-align: center;
}
