.nav-wrapper {
    padding: 0 2em;
}
.background-img {
    position: absolute;
    z-index: -1;
    /* display: flex;
    align-items: center; */
    width: 100%;
}
.background-img > img {
    width:100%;
 }
.card-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
