nav {
    padding: 0 0 1em 2em;
}
.nav-wrapper {
    padding: 0 2em;
}
#logout-header {
    height: 100%;
    font-size: 2em;
}
/* ===== Buttons (enlarged for mobile) ===== */
.btn {
    font-size: 2em;
    height: 4em;
    padding: 1.25em;
    margin: .5em;
}
.sign-in-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== Page Backgrounds ===== */
.background-img {
    /* position: absolute;
    z-index: -1; */
    height: 100%;
    width:100%;
    background-position: center;
    background-size: cover;
    min-height: 1000px;
}
/* .background-img > img {
    min-height: 100%;
    min-width: 100%;
 } */

/* ===== Display Cards ===== */
.card {
    background: #fff8e1bd;
}
.card-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#show-card-title {
    font-weight: bold;
    font-size: 2em;
    border-bottom: 1pt solid #d50000;
    margin: 0;
    padding-bottom: .5em;
}
/* ^ Does this even work? */

/* ===== Forms ===== */
.form-background {
    background-color: rgba(255, 248, 225, 0.5);
    padding: 1em;
}
.form-title {
    width: 100%;
    text-align: center;
}
legend {
    font-size: 2em;
}
.form-submit {
    margin: 1em;
    flex-grow: 2;
}
.form-footer {
    display: flex;
    justify-content: space-between;
}
.form-back-link {
    margin: 1.5em;
}
    /* taken from materialize docs on changing form color */
    /* label color */
.input-field label {
 color: #000;
 font-size: 1.5em;
}
    /* label focus color */
.input-field input[type=text]:focus + label {
 color: #000;
}
    /* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
    /* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
    /* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
    /* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}
