<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <header>
            <% include ../partials/header.ejs %>
        </header>
        <div id="new-wine-background" class="background-img">
        </div>
        <div class="container form-background">
            <h2 class="form-title">New Wine Entry</h2>
            <div class="row">
            <form class="col s12" action="/wines" method="POST">
                <fieldset class="wine-notes">
                    <legend>Wine Notes</legend>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" type="text" name="name">
                            <label class="active black-text" for="name">Wine Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="type" type="text" name="type">
                            <label for="type">Type of Wine:</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="brand" type="text" name="brand">
                            <label for="brand">Brand/Vineyard:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="origin" type="text" name="origin">
                            <label for="origin">Country/Region:</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="year" type="number" name="year">
                            <label for="year">Year:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s2">
                            <input id="price" type="text" name="price">
                            <label for="price">Price:</label>
                        </div>
                        <div class="input-field col s7">
                            <input id="boughtAt" type="text" name="boughtAt">
                            <label for="boughtAt">Where you got it:</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="wine-notes">
                    <legend>Tasting Notes</legend>
                    <div class="row">
                        <div class="input-field col s3">
                            <input id="color" type="text" name="color">
                            <label for="color">Color:</label>
                        </div>
                        <div class="input-field col s3">
                            <input id="flavor" type="text" name="flavor">
                            <label for="flavor">Flavor:</label>
                        </div>
                        <div class="input-field col s3">
                            <input id="aroma" type="text" name="aroma">
                            <label for="aroma">Aroma:</label>
                        </div>
                        <div class="input-field col s3">
                            <input id="finish" type="text" name="finish">
                            <label for="finish">Finish:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="buyAgain">
                                <input type="checkbox" class="filled-in red" for="buyAgain" id="buyAgain"/>
                                <span>I would buy it again</span>
                            </label>
                        </div>
                        <div class="input-field col s6">
                            <input id="numberBought" type="number" name="numberBought" min=0>
                            <label for="numberBought"># Bought/Tried:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="rating" type="number" name="rating" min=0 max=5>
                            <label for="rating">Overall Rating: </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="tasting-comments" class="materialize-textarea" name="comments" data-length="50"></textarea>
                            <label for="tasting-comments">Tasting Notes/Comments:</label>
                        </div>
                    </div>
                </fieldset>
                <div class="form-footer">
                    <input class="waves-effect waves-light red darken-3 btn-large form-submit" type="submit" value="Add to Journal">
                </div>
            </form>
        </div>
        </div>
        <a class="waves-effect waves-light grey btn-flat btn-large form-back-link" href="/wines">Back to All Wines</a>
    <% include ../partials/scripts.ejs %>
    </body>
</html>
