<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NEW USER</title>
    </head>
    <body>
        Create an account
        <form class="" action="/users" method="POST">
            <input placeholder="Placeholder" id="username" type="text" class="validate" name="username" required>
            <label for="username">User Name</label>
            <input id="password" type="password" class="validate" name="password" required>
            <label for="password">Password</label>
            <label for="name">First Name</label>
            <input type="text" name="name">
            <input type="submit" value="Submit">
        </form>
        <a href="/">Back Home</a>
    </body>
</html>
